

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1606fa2a;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #666;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #65f76c;
  }
  
  #weatherContainer {
    margin-top: 20px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .weather-icon img {
    height: 50px; 
    width: 50px;

  }
  